/* IMPORT */
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|Space+Mono:400,700&display=swap");

/* DEBUG */
[debug],
[debug] * {
  outline: solid 1px #9400ff;
  box-shadow: none;
  filter: none;
}

:root {
  --black: #1e1e1e;
  --grey: #faf9f5;
  --white: #ffffff;
  --yellow: #ffcc33;
  --orange: #f87624;
  --linearOrange: rgba(27, 81, 240, 0.8);
  --linearYellow: rgba(37, 165, 245, 0.5);
}

body {
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 1.5;
  background: linear-gradient(
      to top,
      #edeff2,
      #c5d7f1,
      #9cc0ef,
      #6ba9ed,
      #1293eb
    )
    no-repeat center center fixed;
}

a {
  color: var(--black);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-family: "Space Mono", monospace;
  background-color: var(--grey);
}

header h1 {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
}

li {
  font-size: 18px;
  padding-right: 30px;
}

.cart-item {
  position: relative;
}

.cart-item span {
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: rgba(249, 7, 7, 0.948);
  font-size: 14px;
  border-radius: 50%;
}

.hero {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      var(--linearOrange),
      var(--linearYellow)
    ),
    url("https://c.wallhere.com/photos/75/cc/kelimutu_volcano_crater_lakes_volcanic_volcanoes_activevolcano_volcanology-544182.jpg!d");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero h2 {
  max-width: 1200px;
  margin: 0 auto;
  color: var(--white);
  font-size: 80px;
  font-weight: 700;
  line-height: 1.2;
}

.shipping-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: rgba(10, 217, 240, 0.174);
}

.shipping-bar p {
  flex: 1;
  text-align: center;
}

.section-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.section-top-bar h3 {
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 30px;
  font-weight: 700;
  background-color: rgb(244, 244, 249);
  transform: rotate(-2deg);
}

.section-top-bar a {
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
}

.section-top-bar i {
  margin-left: 20px;
}

.collection-items {
  display: flex;
  padding: 0 50px 100px 50px;
  overflow: auto;
  scrollbar-width: none;
}

.collection-items::-webkit-scrollbar {
  display: none;
}

.collection-item {
  flex: none;
  padding-right: 50px;
}

.collection-item img {
  max-width: 100%;
  width: 500px;
  height: auto;
}

.collection-info {
  text-align: center;
}

.collection-info h4 {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}

.collection-info a {
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 3px solid blue;
}

.product {
  position: relative;
  background: url("./images/pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(12, 12, 242, 0.509);
}

.product-badge {
  position: absolute;
  right: 50px;
  top: -120px;
  background-color: rgb(252, 252, 252);
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.product-badge span {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  padding: 10px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
}

.product-items {
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-item {
  width: calc(50% - 40px);
  margin: 20px;
  overflow: hidden;
}

.product-item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.25s ease;
}

.product-item img:hover {
  transform: scale(1.1);
}

.section-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.section-bottom button {
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 18px;
  border: 2px solid var(--black);
  background-color: rgb(0, 157, 255);
  text-transform: capitalize;
}

@media (max-width: 850px) {
  .product-badge {
    display: none;
  }

  .product-item {
    width: 100%;
  }

  .section-bottom {
    padding: 50px 0;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  background-color: rgb(43, 179, 237);
  color: var(--black);
}

footer p {
  font-family: "Space Mono", monospace;
}

.social-icons i:last-child {
  margin-left: 10px;
}

@media (max-width: 850px) {
  footer {
    flex-direction: column;
    padding: 30px;
  }
}
